<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=edge">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0  maximum-scale=1.0; user-scalable=no;">
    <title>Meenakshi</title>
    <meta name="description" content="Meenakshi" />
    <meta name="keywords" content="Meenakshi" />
    <meta name="author" content="Meenakshi" />
  <style>
     html, body, div {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
      }

      body {
      padding-bottom: 80px; /* Adjust this value based on your footer's height */
      min-height: 100vh; /* Ensures the body takes at least the full height of the viewport */
      }
    .overallHeaderBorder {
      display: flex;
      border: 1px solid #b8bcc5;
      justify-content: center;
    }
    .verticalLine {
      border-right: 2px solid #b8bcc5;
    }
    .alignment {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
    }
    .header-start {
      padding: 25px;
    }
    .contentStyle {
      text-align: center;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 20px;
    }
    .subContentStyle {
      text-align: center;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      padding: 10px;
    }
    .secondarySubContent {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      padding: 20px;
      font-size: 16px;
    }

    .secondaryAlignment {
      text-align: center;
    }
    .tertiaryAlignment {
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
    }
    .secondAlign {
      display: flex;
      justify-content: space-evenly;
      padding: 20px;
    }
    .panStyle {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      margin-left: 10px;
    }
    .contents {
      margin-left: auto;
      margin-right: auto;
    }
    .contentAlign {
      display: flex;
      border: 1px solid #b8bcc5;
      justify-content: space-around;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }
    .fabricContent {
      padding-left: 50px;
      margin-left: auto;
      margin-right: auto;
    }
    .ApprovedContent {
      margin-left: auto;
      margin-right: auto;
    }
    .bodyContent {
      display: flex;
      padding: 20px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    .billBody {
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    .toContent {
      font-size: 14px;
    }
    .senderContent {
      font-size: 14px;
    }
    .approvedPart {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      display: flex;
      justify-content: space-between;
    }
    .valueContent {
      font-size: 14px;
    }
    .tableTertiary {
      padding: 20px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    .SubjectContent {
      border: 1px solid #b8bcc5;
      padding: 15px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    .sirContent {
      font-size: 16px;
      margin-top: 20px;font-size: 16px;
    }
    .sirSubContent {
      font-size: 16px;
      margin-top: 10px;
      font-size: 16px;
    }

    .footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 5px;
            background-color: #fff; 
            border-top: 1px solid #b8bcc5; 
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            font-size: medium;
        }
  </style>
    </head>
  <body>
    <table class="overallHeaderBorder" style="width:100%;justify-content: center;">
      <tr>
        <th class="alignment" style="padding: 30px;">
          <div class="header-start">
            <img src="https://software.milgroup.in/favicon.png" alt="logo" />
            <div class="contentStyle">meenakshi</div>
            <div class="subContentStyle">(india) limited</div>
          </div>
        </th>
        <th class="verticalLine"></th>
        <th class="secondaryAlignment">
          <div class="contentStyle">Meenakshi India Limited</div>
          <div class="secondarySubContent">
            16, Whites Road, Royapettah, Chennai, Tamil Nadu 600014
          </div>
          <hr />
          <div class="secondAlign">
            <table>
              <tr>
                <th id=1 style="text-align: center; vertical-align: top; width: 150px;">
                  <h5>Email</h5>
                </th>
                <td style="text-align: center; vertical-align: top; width: 150px;">
                  <h5>Contact@milgroup.net</h5>
                </td>
              </tr>
            </table>           
          </div>
        </th>
        <th class="verticalLine"></th>
        <th class="tertiaryAlignment">
          <div class="panStyle">PAN NO : ACM5386Q</div>
          <div class="panStyle">GSTIN NO : 33AAACM5386Q2ZW</div>
          <div class="panStyle">State Code/Name : 33 - Tamil Nadu</div>
        </th>
      </tr>
    </table>
    <table style="width:100%; border: 1px solid #b8bcc5;">
      <tr style="height: 40px;">
        <th class="padding-left:40px">Fabric Purchase Order</th>
        <th >Approved</th>
      </tr>
    </table>
    <table class="overallHeaderBorder" style="width: 100%;">
      <tr>
        <td class="alignment" style="padding: 30px;">
          <div class="senderContent">
          <div class="toContent">To:</div>
            ASHIMA LIMITED
            <div>Texcellence Complex, Khokhra Mehmadbad</div>
            <div>Ahemdabad - 380008</div>
            <div>GSTIN No: 24AACCA2750L1ZU</div>
          </div>
        </td>
        <td class="verticalLine"></td>
        <td class="alignment" style="padding: 30px;">
          <div class="senderContent">
          <div class="toContent">Bill From:</div>
          ASHIMA LIMITED
          <div>Texcellence Complex, Khokhra Mehmadbad</div>
          <div>Ahemdabad - 380008</div>
          <div>GSTIN No: 24AACCA2750L1ZU</div>
        </div>
        </td>
        <td class="verticalLine"></td>
        <td class="tertiaryAlignment" style="padding: 30px;">
          <div class="tableTertiary">
            <div class="valueContent">Fabric PO No: {{PONumber}}</div>
            <div class="valueContent">Dated: {{updatedAt}}</div>
            <div class="valueContent">Delivery Date: {{deliveryDate}}</div>
          </div>
        </td>
      </tr>
    </table>
    <div class="SubjectContent">
      <div style="display: flex;">
        <div style="margin-top:6px"><p style="margin: 0px;font-size: 16px;">Order Ref No : {{orderRef}}</p></div>
        <div style="margin-top:6px;"><p style="margin: 0px;font-size: 16px; ">Style No : {{styleNo}}</p></div>
        <div style="margin-top:6px"><p style="margin: 0px;font-size: 16px; margin-right: 30px;">Season : {{season}}</p></div>
    </div>
      <div class="sirContent" style="font-size: 16px;">Dear Sir/Madam</div>
      <div class="sirSubContent" style="font-size: 16px;">
        We are pleased to place the following order with you as per Terms and
        Conditions mentioned below
      </div>
      <div style="display: flex; margin-top: 10px;" style="font-size: 16px;">
        <div>Proforma Number : {{millPerformanceNo}}</div>
        <div>Proforma Date : {{updatedAt}}</div>
    </div>
    </div>
      <div>
        <table style="border: 1px solid #b8bcc5; border-collapse: collapse; width: 100%;">
          <thead>
            <tr>
              <th style="border: 1px solid #b8bcc5; padding: 8px; font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">S No</th>
              <th style="border: 1px solid #b8bcc5; padding: 8px; font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">Description</th>
              <th style="border: 1px solid #b8bcc5; padding: 8px; font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">Quantity</th>
              <th style="border: 1px solid #b8bcc5; padding: 8px; font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">Price ({{currency}})</th>
              <th style="border: 1px solid #b8bcc5; padding: 8px;font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">Amount ({{currency}})</th>
            </tr>
          </thead>
          <tbody>
           
            <tr>
              <td style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">{{sNo}}</td>
              <td style="border: 1px solid #b8bcc5; padding: 8px;text-align: center;font-size: 16px;font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;"><div>
                Fabric - Woven (M/Y) {{fabricName}} Code - {{fabricCode}} Colour - {{fabricColor}}
              </div>
              <div style="justify-content: space-between;font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif; padding: 5px;">
                <div >
                  Count: {{count}}
                  <div style="padding: 10px;">Wrap : Weft</div>
                  <div style="padding: 10px;">Construction : {{"test"}}</div>
                  <div style="padding: 10px;">FDS Width : {{fdsWidth}}</div>
                </div>
                <div>
                  {{fabricDescription}}
                </div>
              </div>
            </td>
              <td style="border: 1px solid #b8bcc5;text-align: center; padding: 8px;font-size: 16px; font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">{{fabricQuantity}} Mts </td>
              <td style="border: 1px solid #b8bcc5;text-align: center; padding: 8px;font-size:  16px; font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">{{fabricUnitPrice}} </td>
              <td style="border: 1px solid #b8bcc5;text-align: center; padding: 8px;font-size:  16px; font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">{{fabricTotal}}</td>
            </tr>
            
            <tr>
              <td style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size:  16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;"></td>
              <td style="border: 1px solid #b8bcc5; padding: 8px; text-align: end;font-size:  16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">Total Qty For Fabric - Woven (M/Y)</td>
              <td style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size:  16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">{{totalQuantity}} Mts <br/>{{totalQuantiyInYards}} Yards</td>
              <td style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size:  16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;"></td>
              <td style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size:  16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;"></td>
            </tr>
            <tr>
              <td style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;"></td>
              <td style="border: 1px solid #b8bcc5; padding: 8px; text-align: end;font-size:  16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;"></td>
              <td style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size:  16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;"></td>
              <td style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size:  16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">Total</td>
              <td style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size:  16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">{{subtotal}}</td>
            </tr>

            
                <!-- MOQ Charges -->
                <tr>
                  <td
                      style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">
                  </td>
                  <td
                      style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">
                  </td>
                  <td
                      style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">
                  </td>
                  <td
                      style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">
                      MOQ Charges
                  </td>
                  <td
                      style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">
                      {{moqCharges}}
                  </td>
              </tr>

              <!-- Freight Charges -->
              <tr>
                  <td
                      style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">
                  </td>
                  <td
                      style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">
                  </td>
                  <td
                      style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">
                  </td>
                  <td
                      style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">
                      FREIGHT CHARGES
                  </td>
                  <td
                      style="border: 1px solid #b8bcc5; padding: 8px; text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">
                      {{freightCharges}}
                  </td>
              </tr>


            <tr>
              <td style="border-bottom: 1px solid #b8bcc5;padding: 4px; text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;"></td>
              <td style="border-bottom: 1px solid #b8bcc5;padding: 4px; text-align: end;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;"></td>
              <td style="border-bottom: 1px solid #b8bcc5;padding: 4px; text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">IGST {{igstPercent}}%</td>
              <td style="border-bottom: 1px solid #b8bcc5;padding: 4px; text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;"></td>
              <td style="border-bottom: 1px solid #b8bcc5;padding: 4px; text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">{{igstAmount}}</td>
            </tr>
            <tr>
              <td style="border-bottom: 1px solid #b8bcc5;text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;"></td>
              <td style="border-bottom: 1px solid #b8bcc5;text-align: end;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;"></td>
              <td style="border-bottom: 1px solid #b8bcc5;text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">Total Quantity {{totalQuantity}} Mts</td>
              <td style="border-bottom: 1px solid #b8bcc5;text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;"></td>
              <td style="border-bottom: 1px solid #b8bcc5;text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;"></td>
            </tr>
            <tr>
              <td style="text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;"></td>
              <td style="text-align: end;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;"></td>
              <td style="text-align: start;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;">Grand Total ({{currency}}):</td>
              <td style="text-align: center;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;"></td>
              <td style="text-align: end;font-size: 16px;   font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;"> {{price}}</td> 
            </tr>
          </tbody>
        </table>
      </div>
      <div style="display: flex;padding: 10px; margin-top: auto; margin-bottom: auto;">
        <div style="font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif; margin-right: 10px; font-size: 16px;">
          Amount in Words:
        </div>
        <div style="font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif; font-size: 16px;">
          {{totalAmountInWords}}
        </div>
      </div>
      <div style="padding: 10px; margin-top: auto; margin-bottom: auto;">
        <div style="margin-right: 10px;font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif; font-size: 16px;">
          Enclosures/Remarks:
        </div>
        <div style="font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif; font-size: 16px;">
          {{remarksData}}
        </div>
      </div>
      <table style="width: 100%; padding: 20px; margin-left: 10px; font-size: 16px;">
        <tr>
          <td>
            <h5>Ship to Warehouse:<br />
            MEENAKSHI -UNIT-3,<br/>
              No.4/23, ALANGKATTUPUDUR,<br/>
              THENGALPALAYAM, ATHANUR P O,<br/>
              RASIPURAM T.K - 636301</h5>
          </td>
          <td>
            <h5>Bill To:<br />
              Meenakshi India Limied,<br/>
              16, Whites Road, Royapettah, <br/>
              Chennai,Tamil Nadu 600014,</h5>
          </td>
        </tr>
      </table>

      <div style="padding: 10px; margin-top: auto; margin-bottom: auto;font-family:Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;font-size: medium;">
        <label>TERMS AND CONDITIONS</label>
      </div>
      <div style="padding: 15px; margin-top: auto; margin-bottom: auto;font-family:Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;font-size: medium;">
        <label>POSITIVE ALLOWANCE</label>
        <div  style="padding: 10px; margin-top: auto; margin-bottom: auto;font-family:Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;font-size: 16px;">
          A MAXIMUM OF 4% is allowed at full price for Orders > 1000 mts, and a maximum of 5% is allowed at full price for orders up to 1000 mts.
          Any fabric yardage beyond this will either be returned at Mill's Cost, or Accepted at 35% of fabric price. Decision to accept great quantity fabric lies solely
          with Meenakshi India Ltd.
        </div>
      </div>

      <div style="padding: 15px; margin-top: auto; margin-bottom: auto;font-family:Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;font-size: medium;">
        <label>NEGATIVE ALLOWANCE</label>
        <div  style="padding: 10px; margin-top: auto; margin-bottom: auto;font-family:Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;font-size: 16px;">
          NO NEGATIVE TOLERANCE IS ACCEPTABLE. If Meenakshi's Customer Leaves any Penalty due to short or damaged/detective fabric it
          will be passed on actual basis. Any Short quantity or damaged/detective yardage. As to be  replenished in a timely manner. Penalties for replenishment
          delays will follow the outline for delayed bulk lead times. (EG if 500m received short and replenished in 14 days, the 500m length will have to be delivered within 5 calendar days.
          Over which 0.5% per day will be charged till day 15, and a flat 10% penalty will be charged above that). Will be accepted with a 10% of garment FOB value of short shipped quantity.
        </div>
      </div>

      <div style="margin-top: auto; margin-bottom: auto; text-align: end; padding: 30px;font-family:Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;font-size: medium;">
        <div></div>
        <div>
          For Meenakshi India Limited
        </div>
      </div>
      <div class="footer">
      <div style="margin-top: 30px;"></div>
      <table style="width: 100%;">
        <tr>
          <th>
            {{createdByUser}} <br/>
            Prepared By
          </th>
          <th>
            <br />
            Checked By
          </th>
          <th>
            {{updatedByUser}} <br/>
            Approved By
          </th>
          <th>
            <br />
            Authorised Signatory
          </th>
        </tr>
      </table>
    </div>
    </div>
  </body>
</html>
